*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    flex-direction: column;
}
/*COLORES*/

:root{
    --gray:hsl(234, 12%, 34%);
    --gray-secondary:hsl(229, 6%, 66%);
    --white:hsl(0, 0%, 98%);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

}

/*HEADER*/

header{
    width:40%;
}


/*TITLES-SUBTITLES*/

header span, header h1{
    text-align: center;
}
h1, span{
    font-weight: 200;
    color:var(--gray-secondary);
}
strong{
    font-weight: 600;
    color:var(--gray);
}

.h3{
    font-size: 1.3em;
}
.p{
    font-size:15px;
}

/*MAIN*/
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    flex-wrap: wrap;
}
.col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:50px;
    min-width:260px;
}
.header{
    width:100%;
    height:6px;
}
.cyan{
    background:var(--cyan);
}
.red{
    background:var(--red);
}
.orange{
    background:var(--orange);
}
.blue{
    background:var(--blue);
}
.card{
    width:260px; height:205px;
    border-radius:9px;
    overflow: hidden;
    margin-bottom:20px;
    box-shadow:0 2px 15px #000;
    background:var(--white);
}
.body{
    padding:15px 15px 0 15px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    padding:0 15px 15px 0;
}
.margin-icon{
    margin-top:18px;
}

/*RESPONSIVE*/

@media(max-width:380px){
    header{
        width:90%;
        margin-top:30px;
    }
    h1{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    header span{
        font-size: 1.2em;
    }
    
    .col{
        margin:10px 0;
    }
}